.App {
  text-align: center;
  height:100vh;
  line-height:100vh;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 25px;
}
.NameOfColor {
  font-family: 'Oswald', sans-serif;
  font-size: 33px;
}
.NewColor {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.AddColor {
  position: fixed;
  bottom: 10px;
  left: 10px;
}
.Field {
  display: block;
  float: left;
  clear: left;
  padding: 10px 15vh;
}
.Submit {
  float: right;
  clear: left;
  padding: 0 7vh 10px 0;
}

.Black {
  color: 'black';
}

.White {
  color: 'white';
}

span {
  display: inline-block;
  vertical-align: 200%;
  line-height: normal;
}

button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input[type=submit] {
  font-family: 'Bai Jamjuree', sans-serif;
  font-weight: bold;
  font-size: 20px;
  border: none;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}