.App {
  text-align: center;
  height:100vh;
  line-height:100vh;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 25px;
}
.NameOfColor {
  font-family: 'Oswald', sans-serif;
  font-size: 33px;
}
span {
  display: inline-block;
  vertical-align: 200%;
  line-height: normal;
}

button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}